* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: ;
}

#app {
  background-color: #898787;
  width: 890px;
  height: 568px;
  margin: auto;
  margin-top: 80px;
  border-radius: 32px;
}

header {
  text-align: center;
  margin-top: 25px;
}

#valoresdeclarados {
  display: flex;
  width: 650px;
  height: 180px;
  background-color: #d9d9d970;
  margin: auto;
  margin-top: 50px;
  border: 1px solid red;
}

input {
  width: 95px;
  height: 30px;
  border: 1px solid red;
}

#titulo {
  display: flex;
  border: 1px solid red;
  width: 120px;
  height: 180px;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
}

#valores {
  display: grid;
  grid-template-columns: 177px 177px 177px;
  justify-items: center;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}
