* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a79df1;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

#app {
  background-color: #ffffff;
  width: 890px;
  height: 568px;
  margin: auto;
  margin-top: 80px;
  border-radius: 32px;
  box-shadow: 33px 33px 33px;
}

header {
  text-align: center;
  margin-top: 25px;
  padding: 29px;
}

#valoresdeclarados {
  display: flex;
  width: 650px;
  height: 180px;
  margin: auto;
  margin-top: 50px;
  background-color: chartreuse;
}

input {
  width: 95px;
  height: 30px;
}

#titulo {
  display: flex;
  width: 120px;
  height: 180px;
  font-size: 21px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#valores {
  display: grid;
  grid-template-columns: 177px 177px 177px;

  align-items: center;
}




#grupodespesas{

  align-items: end;
  background-color: aqua;
  
}





#botao {
  background-color: chartreuse;
  width: 150px;
  height: 30px;
}
